.on-header-menu {
    font-size: 13px;
    
}

.change-language-icon {
    width: 20px;
}

.change-lang-drop-down .fa-chevron-down {
    margin: 0 5px;
    font-size: 13px;
    justify-content: space-between;
}

.header-logo-parent {
    max-width: 250px;
}


.header-search {
    width: 90%;
    height: 50px;
    border: 2px solid var(--main-color);
    overflow: hidden;
}


.header-search-submit-parent {
    background-color: var(--main-color);
    height: 100%;
    vertical-align: middle;
    cursor: pointer;
    width: 25%;
    min-width: 50px;
    max-width: 75px;
}

.header-search .fa-magnifying-glass {
    color: #fff;
    display: block;
}

.header-search-input-parent {
    width: 80%;
}
.header-search-input-parent input::placeholder {
    font-size: 14px;
}

.header-search-input-parent input:focus,
.header-search-category-parent select {
    border: none;
    outline: none;
}


.header-icons-parent {
    font-size: 25px;
}

.header-shopping-cart-count-badge,
.header-wishlist-count-badge {
    font-size: 14px;
    background-color: var(--main-color);
}

