:root {
  --main-color: #ff6600;
  --blue-color: #2d416f;
  --blue-dark-color: #26375e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  direction: ltr;
}
body {
  background-color: #f5f5f5;
}
.fade-in {
  position: absolute;
  animation: fadeIn 0.2s linear;
  visibility: visible;
}

p,
span,
ul,
li,
div {
  padding: 0;
  margin: 0;
}
@keyframes fadeIn {
  from {
    bottom: -60px;
    opacity: 0;
  }
  to {
    bottom: -50px;
    opacity: 1;
  }
}

.fade-out {
  position: absolute;
  animation: fadeOut 0.2s linear;
  visibility: hidden;
}

@keyframes fadeOut {
  from {
    bottom: -50px;
    opacity: 1;
  }
  to {
    bottom: -60px;
    opacity: 0;
  }
}

.nav-link {
  transition: all 0.1s;
  cursor: pointer;
}

.nav-link:hover {
  color: var(--main-color);
}
