:root {
  --main-color: #ff6600;
  --blue-color: #2d416f;
  --blue-dark-color: #26375e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  direction: ltr;
}
body {
  background-color: #f5f5f5;
}
.fade-in {
  position: absolute;
  animation: fadeIn 0.2s linear;
  visibility: visible;
}

p,
span,
ul,
li,
div {
  padding: 0;
  margin: 0;
}
@keyframes fadeIn {
  from {
    bottom: -60px;
    opacity: 0;
  }
  to {
    bottom: -50px;
    opacity: 1;
  }
}

.fade-out {
  position: absolute;
  animation: fadeOut 0.2s linear;
  visibility: hidden;
}

@keyframes fadeOut {
  from {
    bottom: -50px;
    opacity: 1;
  }
  to {
    bottom: -60px;
    opacity: 0;
  }
}

.nav-link {
  transition: all 0.1s;
  cursor: pointer;
}

.primary-color {
  color: var(--main-color) !important;
}

.nav-link:hover {
  color: var(--main-color);
}

.product-btns-parent button {
  background-color: #f5f5f5;
  transition: all 0.1s;
}

.product-btns-parent button:hover {
  background-color: var(--main-color);
  color: #fff;
}

.highIndex {
  z-index: 10;
}

.cursor-unset {
  cursor: auto !important;
}

.toast-add-to-cart-notif > div:first-child {
  min-width: 80px;
}

.product-absolute {
  width: 100%;
  left: 0;
  bottom: -30px;
}

@media screen and (min-width: 992px) {
  .product-absolute {
    visibility: hidden;
    transition: all 0.2s;
    opacity: 0;
    transform: translateY(-30px);
  }

}
