footer {
  background-color: var(--blue-color);
}

.footer-top {
  max-width: 1320px;
}

.footer-top-social-parent {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-top-social-parent > a {
  width: 50px;
  height: 50px;
  transition: all 0.3s;
}

.footer-top-social-parent > a:hover {
  transform: translateY(-10px);
  background-color: var(--main-color) !important;
  color: #fff !important;
}

.footer-subscribe-form-parent form {
  width: 100%;
  max-width: 400px;
}

.footer-subscribe-form-submit {
  all: unset;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  color: #fff;
  background-color: var(--main-color);
}